@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: #edf5f0;
  height: 100%;
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(./background.jpg) center no-repeat;
  background-size: cover;
}

.login-box {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 378px;
  height: 250px;
  max-width: 90%;
  align-items: center;
  background-image: linear-gradient(#fb1464, #4c134a);
  margin-top: calc(50vh - 200px);
  position: relative;
  border-radius: 4px;
  box-shadow: 6px 6px 10px rgba(60, 60, 60, 2);
}

.login-tittle {
  font-size: 24px;
  font-weight: 100;
  color: white;
}

.login-input {
  width: 80%;
  height: 32px;
  border-radius: 4px;
  outline: none;
  border: none;
  box-shadow: 1px 2px 5px #333;
  font-size: 16px;
  text-align: center;
}

.login-input::placeholder {
  font-style: italic;
}

.login-button {
  cursor: pointer;
  width: 100%;
  bottom: 0;
  position: absolute;
  height: 52px;
  outline: none;
  border: none;
  background: white;
  color: #7a1050;
  font-weight: 600;
  font-size: 18px;
  border-top: 1px solid #7a1050;
}

.chat-box::-webkit-scrollbar {
  width: 0 !important;
}
.chat-box {
  overflow: -moz-scrollbars-none;
}
.chat-box {
  -ms-overflow-style: none;
}

.chat-box {
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 768px;
  max-width: 100%;
  min-height: 240px;
  height: 90vh;
  border: 1px solid #333;
  position: relative;
  overflow-y: scroll;
  background-color: rgb(60, 60, 60);
}

.message-box-other {
  align-self: flex-start;
  background-color: #7a1050;
  border-radius: 30px;
  max-width: 90%;
  width: 0px auto;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 20px 10px 20px 10px;
  height: 45px auto;
  box-shadow: 1px 3px 5px rgb(30, 30, 30);
}

.message-box-author {
  align-self: flex-end;
  background-color: #fb1464;
  border-radius: 30px;
  max-width: 90%;
  width: 0px auto;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 20px 10px 20px 10px;
  height: 45px auto;
  box-shadow: 1px 3px 5px rgb(30, 30, 30);
}

.message-box-system {
  align-self: center;
  background-color: lightskyblue;
  border-radius: 30px;
  max-width: 90%;
  width: 0px auto;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  height: 45px auto;
  box-shadow: 1px 3px 5px rgb(30, 30, 30);
}

img.user-portrait {
  border-radius: 50%;
  height: 36px;
  width: 36px;
}

.portrait-left {
  margin-left: 8px;
}

.portrait-right {
  margin-right: 8px;
}

.portrait-and-message-info {
  display: flex;
}

.message-info {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

.message-text {
  color: white;
  font-weight: 400;
  font-size: 15px;
}

.message-author {
  color: white;
  opacity: 0.6;
  font-size: 14px;
}

.message-author::before {
  content: "por: ";
}

.message-date {
  color: white;
  font-size: 13px;
  opacity: 0.6;
}

.message-date::before {
  content: "as: ";
}

.user-controllers {
  width: 768px;
  height: 10vh;
  margin: 0 auto;
  max-width: 100%;
  display: flex;
}

input.message-text {
  flex: 1;
  outline: none;
  color: #333;
  padding-left: 10px;
  border-bottom-left-radius: 4px;
  border-top: none;
  border: 1px solid lightgray;
  border-right: none;
  box-sizing: border-box;
  height: 100%;
}

input.message-text:disabled {
  background-color: white;
}

input.message-text:focus {
  border: 2px solid rgb(90, 90, 90);
  border-top: none;
  border-right: none;
}

input.message-text:focus + div.send-message-div {
  border: 2px solid rgb(90, 90, 90);
  border-left: none;
  border-top: none;
}

div.send-message-div {
  border: 1px solid lightgray;
  box-sizing: border-box;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  font-weight: 600;
  padding: 15px 20px 15px 50px;
  outline: none;
  border-left: none;
  border-top: none;
  border-radius: 4px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
  color: #fb1464;
  height: 100%;
}

button.send-message {
  border-radius: 50% !important;
  border: none;
  box-sizing: border-box;
  padding: 10px 6px;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fb1464;
}

button.send-message img {
  margin-left: 8px;
}

button.send-message:hover {
  cursor: pointer;
  background-color: #fb1464;
  color: white;
}

button.send-message img {
  filter: brightness(0) grayscale(1) invert(1);
}

button.send-message:disabled {
  cursor: not-allowed;
  border-radius: 4px;
  color: rgba(3, 3, 3, 0.6);
}

.loading-backscreen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}
